/*** Responsive ***/
/* rem and em do NOT depend on html font-size in media queries
Instead, 1rem = 1 rem = 16px */

/*********************/
/* Below 944px (Tablets) */
/********************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }

  .delivered-users {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logo {
    font-size: 2.4rem;
    letter-spacing: 0.4rem;
  }

  /* MOBILE NAVIGATION */

  .open-nav .main-nav {
    display: none;
  }

  .open-nav .icon-nav {
    display: block;
    float: right;
  }

  .open-nav.responsive {
    position: relative;
  }
  .open-nav.responsive .icon-nav {
    position: absolute;
    right: 0;
    top: 0;
  }

  .open-nav.responsive .main-nav {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    background-color: rgba(255, 255, 255, 0.95);
  }
}
